[config]
shell="cmd"


[[snippets]]
description="echo 1"
command="echo 123 中文"
tag = [ "all", 'tag1' ]

[[snippets]]
description="echo 2"
command="echo 123 中文 & echo 456"
tag = [ "all", 'tag2' ]

[[snippets]]
description="list files"
command="ls -l"

[[snippets]]
description="list dir"
command="dir"

[[snippets]]
description="ping"
command="ping 127.0.0.1"

[[snippets]]
description="ping variable"
command="ping {ip}"

